:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  text-decoration: none;
}

/*  */
#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 8rem;
}

.btn-nav {
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid transparent;
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
  border-radius: 5px 5px 0 0;
  background-color: #6c747d;
  color: #fff;
  padding: 0.6em 1.2em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

.btn-nav:focus {
  background-color: #fff;
  color: #6c747d;
}

.btn-home:focus {
  background-color: #c8cfc7;
}

.custom-error-form-validation {
  border: 1px solid red;
  box-shadow: 0 0 0 0.25rem rgb(253 13 59 / 25%) !important;
}
