#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 8rem;
  text-align: start;
}

.navbtn {
  border-top: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
  border-radius: 5px 5px 0 0;
  background-color: #6c747d;
  color: #fff;
}

.navbtn:focus {
  background-color: #fff;
  color: #6c747d;
}
